@tailwind base;
@tailwind components;
@tailwind utilities;


.text-container:hover h2 {
  transform: translateX(-10px);
  transition: all 0.3s;
}

.text-container:hover p {
  transform: translateX(10px);
  transition: all 0.3s;
}